:root {
    --red: rgba(255, 0, 0, 1);
    --black: rgba(0, 0, 0, 1);
    --darkGrey: rgba(40, 39, 44, 1);
    --lightGrey:rgba(106, 106, 106, 1);
    --lighterGrey:rgba(178, 178, 178, 1);
    --almostWhite:rgba(209, 209, 209, 1);
    --white:rgba(255, 255, 255, 1);
    --transition: .8s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-size: 10px;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    width: 108.8rem;
    margin: 0 auto;
    /* border: 1px red solid; */
}

/* end of the global styling */

main {
    height: 100vh;
    width: 100%;
    background-image: url(/images/Image@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

main::after{
    content:'';
    background-color: var(--black);
    opacity: .4;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    height: 9rem;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;

}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    width: 50rem;
    justify-content: space-between;
    cursor: pointer;
}

.nav ul li {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 12.8rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: var(--transition);
}

.nav ul li:hover {
    background-color: rgba(255, 255, 255, .2);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 28rem;
    cursor: pointer;
}

.logo__text {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.logo__text span {
    color: var(--red);
}

.logo img {
    width: 3rem;
}

.main__container {
    color: white;
    text-align: center;
    z-index: 1;
}

.main__container h1 {
    font-size: 9rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.main__paragraph {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 5.4rem;
}

.btn__big {
    font-weight: bold;
    text-decoration: none;
    color: var(--red);
    background-color: var(--white);
    font-size: 1.6rem;
    padding: 2.2rem 5.5rem;
    border-radius: 4rem;
    margin: 0 1rem;
    text-transform: uppercase;
}

.btn__big:hover{
    background-color: var(--red);
    color: white;
    transition: var(--transition);
}

.bottom {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 4.5rem;
    z-index: 1;
    bottom: 0;
}

.arrow__icon {
    background-image: url(/images/Icon\ Arrow\ Down.svg);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: var(--red);
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    bottom: 1.25rem;
    border-radius: 5rem;
    z-index: 2;
    transition: var(--transition);
    cursor: pointer;
}

.arrow__icon:hover{
    transform: scale(1.1);
}

/* end of first pile styling */

section {
    /* border: red solid 1px; */
    height: 64rem;
    width: 100%;
    padding-top: 6rem;
}

.blog {
    background-color: white;
}

.service {
    background-color: var(--darkGrey);
    color: white;
}

.section__title__container{
    display: flex;
    justify-content: center;
    margin-bottom: 3.6rem;
    align-items: center;
    /* border: red solid 1px; */
}

.section__title {
    font-size: 3.5rem;
    font-size: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 1rem;
    position: relative;
}

.rectangle {
    background-color: var(--red);
    width: 5rem;
    height: .3rem;
}

.section__container {
    display: flex;
    justify-content: space-between;
}

.blog .section__container article {
    width: 35rem;
    overflow: hidden;
    height: 43rem;
    display: flex;
    flex-direction: column;
}

.article__title {
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.article__paragraph {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--lightGrey);
    line-height: 1.9rem;
    margin-bottom: auto;
}

.btn__small{
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
    font-size: 1.4rem;
    padding: 1.1rem 2.9rem;
    border-radius: 4rem;
    text-transform: uppercase;
    align-self: flex-start;
}

.btn__small:hover{
    background-color: var(--lighterGrey);
    transition: var(--transition);
}

.service .section__container article {
    width: 23rem;
    overflow: hidden;
    height: 43rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.service .article__paragraph {
    color: white;
}

.service .btn__small {
    align-self: center;
}

/* end of the service and bloge pile styling */
